

header {
	background-color: black;
	color: white;
	text-align: center;
	font-family: "Comic Sans MS", sans-serif;
/* navigation bar*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

}


main {
	font-family: "Comic Sans MS", sans-serif;
	text-align: center;
	background: white;
	margin-top: 100px;
	
}
img {
	max-width: 100%;
    height: auto;
    margin: 0px;

}
footer {
	text-align: center;
}
.section {
	text-transform: capitalize;
}
table {
	display: inline-block;
}
.list {
	background-color: aqua;
}
#characters {
	background-color: lightblue;
	color: black;
}

table {
	width: 100%;
	height: auto;
}

a{ 
	color: pink;
	 }
a:visited{
	color: green;
}
/* responsive design*/
/* mobile*/
@media screen and (max-width: 440px) {
img {
	width: 100%;
	border: white solid 1px;
    padding: 0px;
}
}

/* tablet*/
@media screen and (min-width: 440px) {
img {
	width: 100%;
	border: white solid 1px;
    padding: 0px;

}

}
/* desktop*/
@media screen and (max-width: 1200px) {
img {
	margin-top: 50px;
}
}



